.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    @include movil {
        padding: 5rem 0;
    }

    .about-content {
        display: flex;
        justify-content: center;
        align-items: center;

        @include movil {
            position: relative;
            flex-direction: column;
        }

        .about-image {
            width: 45%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            @include movil {
                width: 100%;
                order: 1;
            }

            /* los pictures tienen un comportamiento particular en relación con el modelo de flexbox. */
            picture {
                display: contents;
            }

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 15px;
            }

            .img-code {
                width: 55%;
                transform: rotateY(20deg) rotateX(20deg) scale(1.05);
                mask-image: linear-gradient($navDark, 85%, transparent);

                @include movil {
                    width: 85%;
                    mask-image: linear-gradient($navDark, 85%, transparent);
                }
            }

            .img-about {
                position: absolute;
                width: 40%;
                top: 5.5rem;
                right: 3rem;
                background: $navDark;
                filter: drop-shadow(0 0 50px $red);

                @include movil {
                    width: 60%;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    filter: drop-shadow(0 0 5px $red);
                }
            }
        }

        .about-text {
            position: relative;
            width: 55%;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            color: #ffff;
            padding: 0 12rem 0 3rem;
            gap: 1rem;

            @include movil {
                width: 100%;
                height: inherit;
                order: 2;
                padding: 2rem;
            }

            h3 {
                font-size: 3rem;
                text-transform: uppercase;
                font-weight: 900;
                color: $red;
            }

            h4 {
                color: #ffff;
                font-size: 2rem;
                margin-bottom: 0.8rem;

                @include movil {
                    font-size: 1.3rem;
                }
            }

            p {
                // text-align: justify;
                font-size: 1.3rem;
                margin-bottom: 1rem;

                @include movil {
                    font-size: 1rem;
                }
            }

            .boxBtnPortafolio {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    display: inline-block;
                    margin-top: 1rem;
                    background: #fd4a57;
                    color: #fff;
                    padding: 0.75rem 1.5rem;
                    border-radius: 10px;
                    text-decoration: none;
                    font-weight: bold;
                    transition: background 0.3s ease;
                    font-size: 1.5rem;

                    @include movil {
                        margin-top: 0;
                    }

                    &:hover {
                        background: #cf3640;
                    }
                }
            }

        }
    }
}