// .projects-tabs {
//     width: 90%;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
//     gap: 1rem;

//     button {
//         padding: 0.5rem 2rem;
//         font-size: 1.2rem;
//         font-weight: bold;
//         border: none;
//         background: transparent;
//         color: $red;
//         cursor: pointer;
//         transition: all 0.5s ease-out;

//         &.active {
//             background: $red;
//             color: $white;
//             border-radius: 5px;
//             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.5);
//         }

//         @include movil {
//             font-size: 1rem;
//             padding: 0.5rem 1.5rem;
//         }

//         @include tablet {
//             padding: 0.5rem 1rem;
//         }

//         &:hover {
//             background: $red;
//             color: $white;
//             border-radius: 5px;
//             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.5);
//         }
//     }
// }
.projects-tabs {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    // Estilos para el <select> que se mostrará solo en móvil
    select {
        display: none;
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border-radius: 5px;
        border: 2px solid $red;
        color: $red;
        background: transparent;
        font-weight: bold;
        cursor: pointer;
        outline: none;
        @include movil {
            display: block;
        }
    }

    // Ocultar botones en móvil
    button {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        background: transparent;
        color: $red;
        cursor: pointer;
        transition: all 0.5s ease-out;

        &.active {
            background: $red;
            color: $white;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.5);
        }

        &:hover {
            background: $red;
            color: $white;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.5);
        }

        @include movil {
            display: none;
        }

        @include tablet {
            padding: 0.5rem 1rem;
        }
    }
}

.container-card {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 3rem 0;

    @include movil {
        width: 100%;
        flex-direction: column;
    }

    .card-project {
        width: 30%;
        border-radius: 16px;
        background: $navDark;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 6px 10px rgba(0, 0, 0, 0.19);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 1.3rem;
        transition: all 0.5s ease-out;

        @include movil {
            width: 90%;
        }

        @include tablet {
            width: 45%;
        }

        // &:nth-child(even) {
        //     margin-top: 5rem;
        // }

        &:hover {
            background: #12131f;
            transform: scale(1.01);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 1), 0 6px 10px rgba(0, 0, 0, 1);
        }

        .image-container {
            width: 100%;
            height: 300px;
            overflow: hidden;
            transition: all 0.5s ease-out;
            border-bottom: 8px solid $red;
            border-radius: 16px;
            box-shadow: 0 40px 60px rgba(0, 0, 0, 100), 0 6px 10px rgba(0, 0, 0, 1000);
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .card-project:hover .image-container img {
            transform: scale(1.05);
        }

        .project-title {
            font-size: 1.5rem;
            color: $white;
            font-weight: bold;
            margin: 3rem 0;
            text-transform: uppercase;

            @include movil {
                margin: 2rem 0;
            }
        }

        .project-details {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem;
            gap: 2rem;
            color: $white;

            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                color: $red;
            }

            p {
                font-size: 1.2rem;
                color: $white;
                line-height: 1.5;
            }
        }

        .project-technologies {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
            .box-tech {
                display: grid;
                place-items: center;

                img {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                }
            }
        }

        .project-links {
            width: 100%;
            display: flex;
            justify-content: end;
            padding: 2rem 2rem 1rem 0;
            gap: 1rem;
            a {
                padding: 0.4rem 1rem;
                border-radius: 9px;
                color: $red;
                font-size: 2rem;
                transition: all 0.5s ease-out;
                &:last-child {
                    background: $red;
                    color: $navDark;
                }
            }
        }
    }

    // .btn-more {
    //     margin-top: 3rem;
    //     padding: 0.8rem 2rem;
    //     font-weight: bold;
    //     border-radius: 2rem;
    //     background: transparent;
    //     border: 2px solid #fd4a57;
    //     color: #fd4a57;
    //     font-size: 1.2rem;
    //     transition: all 1s ease-out;

    //     &:hover {
    //         background: #fd4a57;
    //         color: $white;
    //         border: transparent;
    //     }
    // }
}